html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #2d2d2d;
    color: #f1f1f1;
}

b{
    color: #be0000;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 85px;
    position: absolute;
    line-height: 80px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: 80px;
    height: 80px;
    padding-left: 20px;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 0px;
}

.nav div.logo a:hover {
    color: #cacaca;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #8f8f8f;
}


/* Home section */

#home {
    width: 100%;
    height: 100vh;
    /* background-image: url('../img/bg.png');
    background-size: cover; */
}

#mainContent{
    width: 100%;
    height: 100vh;
    background-color: #570000;
}

.mainBlankSpace{
    height: 45vh;
}

#mainContent h1{
    font-family: 'BebasNeue';
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 10em;
    text-align: center;
}

#mainContent hr{
    width: 30%;
    text-align: center;
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0%;
    bottom: 0;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 15px;
    padding: 0px 2% 0px 2%;
}

.item{
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    text-align: justify;
}

.itemPicture{
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
    text-align: center;
}

/* Button Style and Effects **/

.button {
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(182, 6, 30) 50%, #2d2d2d 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover{
    background-position: left bottom;
    color: #f1f1f1;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Section Header, where has the title of the section and the HR **/

.sectionHeader{
    padding: 0px 2% 0px 2%;
    font-family: 'BebasNeue';
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 2em;
    text-align: justify;
}

.sectionHeader h1{
    font-family: 'BebasNeue';
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 2em;
    padding: 0;
    margin: 1% 0px 0px 0px;
}

.sectionHeader hr{
    margin: 0px;
}

/* Middle Content Between Home and Footer **/

.middleContent{
    background-color: #570000;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 500px;
}

.spacing{
    height: 18%;
}

/* Footer Styles */

.footerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 15px;
    padding: 0px 2% 0px 2%;
}

.footerItem{
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    text-align: justify;
}

.footerIcon{
margin-top: 1%;
padding-left: 5px;
}

.copyright{
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px;
    text-align: justify;
}

/* Ipad Query */

@media (max-width: 1024px) {
    .container {
        margin: 0;
    }
    #home{
        background-repeat: no-repeat;
        background-image: url("");
        background-size: fill;
    }
    .nav{
        height: 60px;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #16161696;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    .flexContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 350px;
        justify-content: center;
        font-size: 15px;
    }
    .item{
        order: 0;
        width: 350px;
        margin: 10px;
        text-align: justify;
    }
    .item p{
     margin: 4px 15px 0px 15px;
    
    }
    .footerContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 350px;
        justify-content: center;
        font-size: 15px;
    }
    .footerItem{
        order: 0;
        width: 350px;
        margin: 10px;
        text-align: justify;
    }
    
    .item p{
     margin: 4px 15px 0px 15px;
    }

    .middleContent{
        height: 100%;
    }
    
}

/* Mobile Phones Query */

@media screen and (max-width:400px) {
    .sectionHeader hr{
        margin: 0px 3% 0px 3%;
    }

    .sectionHeader h1{
        margin-left: 3%;
    }

    #home{
        background-repeat: no-repeat;
        background-image: url("");
        background-size: cover;
        height: 667px;
    }
    .nav{
        height: 60px;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #16161696;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    .flexContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 15px;
    }
    .item{
        margin: 15px 15px 0px 15px;
    }

    .footerContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 350px;
        justify-content: center;
        font-size: 15px;
    }
    .footerItem{
        order: 0;
        width: 350px;
        margin: 10px;
        text-align: justify;
    }
    
    .item p{
     margin: 4px 15px 0px 15px;
    }
    
    .middleContent{
        height: 100%;
    }
    
}



/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0%;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: rgba(177,0,0,0.8);
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}